* {
    margin: 0;
    padding: 0;
}


.container {
    background-color: darkslategray;
    height: 500px;
    width: 350px;
    margin: auto;
    border: 1px solid;
    color: blue;
    border-radius: 10px;
    margin-top: 50px;

}


.h1 {
    color: white;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 150px;

}


.inputt {
    padding: 9px;
    width: 90%;
    margin-left: 15px;
    border: 0.8px solid;
    color: brown;
    border-radius: 5px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px;
    width: 100px;
    margin-left: 115px;
    border: 1px solid greenyellow;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;


}